<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SportsEdge </title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
    <script src="/JS/homePage.js"></script>
    <link rel="stylesheet" href="/CSS/style.css">
</head>
<body style="background-image:url('https://wallpapercave.com/wp/wp2736045.jpg')">
<nav class="navbar navbar-expand" style="background: green;">
    <div class="container">
        <a href="http://localhost:8080" class="navbar-brand">SportsEdge</a>
        <ul class="navbar-nav">
            <li class="nav-item">
                <a href="/game" class="nav-link">Games</a>
            </li>
            <li class="nav-item">
                <a href="/team" class="nav-link">Teams</a>
            </li>
            <li class="nav-item">
                <a href="/player" class="nav-link">Players</a>
            </li>
        </ul>
        <div class="navbar-text">Strategize. Manage. Dominate.</div>
    </div>
</nav>
</body>
</html>
